@import url('https://fonts.googleapis.com/css?family=Chivo');

div#about img {
  /* height: 30%; */
  /* width: 50%; */
  /* width: 395.5px;
  height: 533px; */
  width: 100%;
  min-width: 382px;
  max-width: 395.5px;
  position: relative;
  z-index: 920;
}

div#about #alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 980;
  color: white;
  background-color: #3D2B5A;
  height: 50px;
}


div#aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

div#about {
  background-color: #FF9298;
  width: 100%;
}

div#aboutContainer div.placeholder {
  flex: 2;
}

div#aboutContainer div#aboutFiller {
  flex: 1;
  min-width: 75px;
}

div#about1 {
  flex: 5;
  margin-top: 10%;
  /* margin-left: 20%;
  margin-right: 5%; */
  height: 500px;
  position: relative;
}

div#about2 {
  flex: 5;
  min-width: 345px;
  max-width: 30%;
  height: 535px;
  margin-top: 10%;
  /* margin-right: 15%;
  margin-left: 5%; */
  text-align: left;
  line-height: 30px;
  z-index: 950;
  letter-spacing: 1px;
}

div#about #baseline {
  position: relative;
  margin-top: -540px;
  margin-right: -350px;
  color: #3D2B5A;
  z-index: 950;
  font-weight: 900;
  font-size: 2em;
  letter-spacing: -0.5px;
}



div#about .text {
  color: white;
  position: relative;
  float: right;
  text-align: left;
  line-height: 30px;
  z-index: 950;
  letter-spacing: 1px;
}

div#about .text .title {
  font-family: 'Chivo', sans-serif;
  letter-spacing: 5px;
  font-size: 2.5em;
}

#about a {
  padding: 15px;
  font-size: 1.2em;
  background-color: #3D2B5A;
  border: 1px solid #3D2B5A;
  border-radius: 8px;
}

  /* div#about #background{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    background-color: #FF9298;
    margin-top: 0;
    height: 640px;
    z-index: 500;
  }




  div#about img {
    position: relative;
      padding: 5px;
      width: 395.5px;
      height: 533px;
      margin-left: 5%;
      float: left;
      z-index: 940;
  }



  div#about .text #coding {
    color: #3D2B5A;
    font-weight: 900;
    font-size: 4em;
  }

  div#about .info{
    margin-top: 11%;
    margin-left: 15%;
    margin-right: 5%;
  }

*/
