@import url('https://fonts.googleapis.com/css?family=Chivo');

div#nav .title {
  font-family: 'Chivo', sans-serif;
  letter-spacing: 3px;
}

div#nav {
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 950;
  color: #3D2B5A;
}

div#nav h3 {
  padding-top: 5px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}
