div#nav {
  padding-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

h3 {
  /* color: white; */
}

a {
  color: inherit;
  text-decoration: none;
}
