@import url('https://fonts.googleapis.com/css?family=Chivo');

div#notification .title {
  font-family: 'Chivo', sans-serif;
}

@media only screen and (min-width: 1000px)  {
  div#notification {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #3D2B5A;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  div#notification h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 100;
  }

  div#notification h3.close {
    cursor: pointer;
    font-size: 12px;
  }
}

@media only screen and (max-width: 999px)  {
  div#notification {
    /* padding-left: 2%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #3D2B5A;
    color: white;

  }
}




a {
  color: inherit;
  text-decoration: none;
}
