 @import url('https://fonts.googleapis.com/css?family=Chivo');

div#portfolio {
  background-color: #F4F4F4;
  margin-top: -5%;
}

div#portfolio #title {
  padding-top: 12%;
  margin-bottom: 5%;
  font-weight: 900;
  font-family: 'Chivo', sans-serif;
  font-size: 3em;
  letter-spacing: 5px;
  position: relative;
  z-index: 920;
  color: #3D2B5A;
}


div#portfolio h1#coding {
  font-size: 4em;
  position: relative;
  margin-right: 24%;
  text-align: right;
  color: #3D2B5A;
  margin-bottom: -50px;
}

div#portfolio .title {
  position: relative;
  padding-top: 0;
  margin-top: 1%;
  font-weight: 900;
  font-family: 'Chivo', sans-serif;
  font-size: 2.5em;
  letter-spacing: 5px;
  z-index: 920;
  color: #3D2B5A;
}

div.projectContainer .number {
  position: relative;
  padding-top: 0;
  margin-top: -5%;
  font-weight: 900;
  font-family: 'Chivo', sans-serif;
  font-size: 11em;
  z-index: 910;
  color: white;
}

div#project1 h1.number {
  float: left;
  margin-left: 15%;
}

div#project3 h1.number {
  float: left;
  margin-left: 15%;
}

div#project2 h1.number {
  float: right;
  margin-right: 15%;
}


div.projectContainer div#project1 h1.title {
  float: left;
  margin-left: -4.5%;
  z-index: 950;
}

div.projectContainer div#project2 h1.title {
  float: right;
  margin-right: -4.5%;
  z-index: 950;
}

div.projectContainer div#project3 h1.title {
  float: left;
  margin-left: -4.5%;
  z-index: 950;
}

div.projectContainer hr.line {
  position: relative;
  border: none;
  border-bottom: 5px solid #3D2B5A;
  height: 2.2em;
  background-color: #F4F4F4;
}

div.projectContainer div#project1 hr.line {
  width: 50%;
  margin-right: 15%;
}

div.projectContainer div#project2 hr.line {
  width: 42%;
  margin-left: 15%;
}
div.projectContainer div#project3 hr.line{
  width: 50%;
  margin-right: 15%;
}

div#project1 {
  position: relative;
  margin-top: 5%;
}

div#project2 {
  position: relative;
  margin-top: 5%;
}

div#project3 {
  position: relative;
  margin-top: 5%;
}

div.projectContainer div.section1 {
  text-align: left;
}

div.projectContainer div.section2 {
  text-align: right;
}

div.projectContainer button {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #3D2B5A;
  font-size: 1.2em;
  background-color: #3D2B5A;
  color: white;
}

div.projectContainer div.container {
  display: flex;
  flex-direction: row;
  margin-top: 4%;
}

div.projectContainer div.links p {
  display: inline-block;
  color: #3D2B5A;
  text-decoration: none;
}

div.projectContainer div.links {
  margin: 0;
  padding: 0;
  color: #FF9298;
  text-decoration: underline;
}

div.projectContainer div.links a:hover {
  color: #3D2B5A;
}

div.projectContainer .languages span{
  color: #3D2B5A;
}

div.projectContainer .languages {
  font-family: 'Chivo', sans-serif;
  letter-spacing: 3px;
  color: #FF9298;
}

div.projectContainer div#project1 .details {
  position: relative;
  font-weight: bold;
  z-index: 950;
}

div.projectContainer div#project2 .details {
  position: relative;
  font-weight: bold;
  z-index: 950;
}
div.projectContainer div#project3 .details {
  position: relative;
  font-weight: bold;
  z-index: 950;
}

div.projectContainer div#project1 div.container {
  margin-right: 15%;
  margin-left: 0;
}

div.projectContainer div#project2 div.container {
  margin-left: 15%;
  margin-right: 0;
}
div.projectContainer div#project3 div.container {
  margin-right: 15%;
  margin-left: 0;
}



.modal {
  height: 80%;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 200;
  padding: 5% 0;
  border-radius: 10px;
}

.modal.trippy {
  width: 960px;
  height: 553px;
}

.modal.gameNight {
  width: 574.4px;
  height: 643.2px;
}

.modal.musico {
  width: 960px;
  height: 546.6px;
}



.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}


/*

div#portfolio {
  position: absolute;
  background-color: #F4F4F4;
  top: 80vh;;
  left: 0;
  right: 0;
  z-index: 900;
  color: #3D2B5A;
  height: 1650px;
}



div.projectContainer div#project1 {
  margin-top: 15%;
}
div.projectContainer div#project2 {
  margin-top: 15%;
}
div.projectContainer div#project3 {
  margin-top: 15%;
}


div.projectContainer div#project1 .languages {
  float: left;
  width: 40%;
  margin-left: -24.5%;
  position: relative;
  z-index: 950;
}

div.projectContainer div#project2 .languages {
  float: right;
  width: 40%;
  margin-right: -34%;
  position: relative;
  z-index: 950;
}
div.projectContainer div#project3 .languages {
  float: left;
  width: 40%;
  margin-left: -19%;
  position: relative;
  z-index: 950;
}

div.projectContainer div#project1 .description {
  float: left;
  text-align: left;
  margin-left: -34%;
  width: 40%;
  margin-top: 50px;
  position: relative;
  z-index: 950;
}

div.projectContainer div#project2 .description {
  float: right;
  text-align: right;
  margin-right: -33%;
  width: 40%;
  margin-top: 50px;
  position: relative;
  z-index: 950;
}
div.projectContainer div#project3 .description {
  float: left;
  text-align: left;
  margin-left: -37.5%;
  width: 40%;
  margin-top: 50px;
  position: relative;
  z-index: 950;
}

div.projectContainer div#project1 .links {
  float: left;
  text-align: left;
  margin-top: -5%;
  margin-left: -6%;
  position: relative;
  z-index: 950;
}

div.projectContainer div#project2 .links {
  float: right;
  text-align: right;
  margin-top: -3.5%;
  margin-right: -4.5%;
  position: relative;
  z-index: 950;
}
div.projectContainer div#project3 .links {
  float: left;
  text-align: left;
  margin-top: -5%;
  margin-left: -6%;
  position: relative;
  z-index: 950;
}


div.projectContainer div#project1 button {
  float: left;
  margin-top: 0;
  margin-left: -2%;
  position: relative;
  z-index: 950;
}


div.projectContainer div#project3 button {
  float: left;
  margin-top: 0;
  margin-left: -7%;
  position: relative;
  z-index: 950;
}

 */
