 @import url('https://fonts.googleapis.com/css?family=Chivo');


div#portfolio {
  background-color: #F4F4F4;
  margin-top: -2%;
}

div#portfolio #title {
  margin-top: 0;
  padding-top: 16%;
  margin-bottom: 5%;
  font-weight: 900;
  font-family: 'Chivo', sans-serif;
  font-size: 3em;
  letter-spacing: 5px;
  position: relative;
  z-index: 920;
  color: #3D2B5A;
}


div#portfolio h1#coding {
  font-size: 4em;
  position: relative;
  margin-right: 24%;
  text-align: right;
  color: #3D2B5A;
  margin-bottom: -50px;
}

div#portfolio .title {
  position: relative;
  padding-top: 0;
  margin-top: 1%;
  margin-bottom: 0;
  font-weight: 900;
  font-family: 'Chivo', sans-serif;
  font-size: 2.5em;
  letter-spacing: 5px;
  z-index: 920;
  color: #3D2B5A;
}

div.projectContainer .number {
  position: relative;
  padding-top: 0;
  margin-top: -5%;
  font-weight: 900;
  font-family: 'Chivo', sans-serif;
  font-size: 11em;
  z-index: 910;
  color: white;
}

div.projectContainer hr.line {
  position: relative;
  border: none;
  border-bottom: 5px solid #3D2B5A;
  height: 2.2em;
  background-color: #F4F4F4;
}


div#project1 {
  position: relative;
  margin-top: 10%;
}

div#project2 {
  position: relative;
  margin-top: 10%;
}

div#project3 {
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
}

div.projectContainer div.section1 {
  text-align: left;
  flex: 5;
}

div.projectContainer div.section2 {
  text-align: right;
  flex: 5;
}

div.projectContainer button {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #3D2B5A;
  font-size: 1.2em;
  background-color: #3D2B5A;
  color: white;
}

div.projectContainer div.container {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

div.projectContainer div.links p {
  display: inline-block;
  color: #3D2B5A;
  text-decoration: none;
}

div.projectContainer div.links {
  margin: 0;
  padding: 0;
  color: #FF9298;
  text-decoration: underline;
}

div.projectContainer div.links a:hover {
  color: #3D2B5A;
}

div.projectContainer .languages span{
  color: #3D2B5A;
}

div.projectContainer .languages {
  font-family: 'Chivo', sans-serif;
  letter-spacing: 3px;
  color: #FF9298;
}

div.projectContainer div#project1 .details {
  position: relative;
  font-weight: bold;
  z-index: 950;
}

div.projectContainer div#project2 .details {
  position: relative;
  font-weight: bold;
  z-index: 950;
}
div.projectContainer div#project3 .details {
  position: relative;
  font-weight: bold;
  z-index: 950;
}


div.projectContainer div.container div.filler{
  flex: 1;
}


.modal {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  padding: 5% 0;
  border-radius: 10px;
}

.modal.trippy {
  width: 60%;
}

.modal.gameNight {
  z-index: 999;
  width: 40%;
}

.modal.musico {
  z-index: 999;
  width: 60%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}


@media only screen and (min-width: 1280px) and (min-width: 931px) {

  div#project1 h1.number {
    margin-left: 15%;
    position: absolute;
    z-index: 900;
    padding: 0;
    margin-bottom: 0;
  }

  div#project3 h1.number {
    margin-left: 15%;
    position: absolute;
    z-index: 900;
    padding: 0;
    margin-bottom: 0;
  }

  div#project2 h1.number {
    position: absolute;
    right: 15%;
    z-index: 900;
    padding: 0;
    margin-bottom: 0;
  }


  div.projectContainer div#project1 h1.title {
    position: absolute;
    left: 18%;
    z-index: 950;
  }

  div.projectContainer div#project2 h1.title {
    position: absolute;
    right: 18%;
    z-index: 950;
  }

  div.projectContainer div#project3 h1.title {
    position: absolute;
    left: 18%;
    z-index: 950;
  }

  div.projectContainer div#project1 div.container {
    margin-right: 15%;
    margin-left:18%;
    position: relative;
    z-index: 950;
  }

  div.projectContainer div#project2 div.container {
    margin-left: 15%;
    margin-right: 18%;
    position: relative;
    z-index: 950;
  }
  div.projectContainer div#project3 div.container {
    margin-right: 15%;
    margin-left: 18%;
    position: relative;
    z-index: 950;
  }

  div.projectContainer div#project1 hr.line {
    width: 50%;
    margin-right: 15%;
  }

  div.projectContainer div#project2 hr.line {
    width: 40%;
    margin-left: 15%;
  }
  div.projectContainer div#project3 hr.line{
    width: 50%;
    margin-right: 15%;
  }

}

@media only screen and (max-width: 1279px) and (min-width: 931px) {

  div#project1 h1.number {
    margin-left: 20%;
    position: absolute;
    z-index: 900;
    padding: 0;
    margin-bottom: 0;
  }

  div#project3 h1.number {
    margin-left: 20%;
    position: absolute;
    z-index: 900;
    padding: 0;
    margin-bottom: 0;
  }

  div#project2 h1.number {
    position: absolute;
    right: 20%;
    z-index: 900;
    padding: 0;
    margin-bottom: 0;
  }


  div.projectContainer div#project1 h1.title {
    position: absolute;
    left: 23%;
    z-index: 950;
  }

  div.projectContainer div#project2 h1.title {
    position: absolute;
    right: 23%;
    z-index: 950;
  }

  div.projectContainer div#project3 h1.title {
    position: absolute;
    left: 23%;
    z-index: 950;
  }

  div.projectContainer div#project1 div.container {
    margin-right: 20%;
    margin-left:23%;
    position: relative;
    z-index: 950;
  }

  div.projectContainer div#project2 div.container {
    margin-left: 20%;
    margin-right: 23%;
    position: relative;
    z-index: 950;
  }
  div.projectContainer div#project3 div.container {
    margin-right: 20%;
    margin-left: 23%;
    position: relative;
    z-index: 950;
  }

  div.projectContainer div#project1 hr.line {
    width: 40%;
    margin-right: 20%;
  }

  div.projectContainer div#project2 hr.line {
    width: 30%;
    margin-left: 20%;
  }
  div.projectContainer div#project3 hr.line{
    width: 40%;
    margin-right: 20%;
  }
}

@media only screen and (max-width: 1100px)  {
  div.projectContainer div#project1 hr.line {
    width: 35%;
    margin-right: 20%;
  }

  div.projectContainer div#project2 hr.line {
    width: 25%;
    margin-left: 20%;
  }
  div.projectContainer div#project3 hr.line{
    width: 35%;
    margin-right: 20%;
  }
}

@media only screen and (max-width: 930px)  {

  div.projectContainer hr.line {
    display: none;
  }


  div.projectContainer div.section2 {
    text-align: left;
  }

  div.projectContainer h1.number {
    margin-left: 10%;
    position: absolute;
    z-index: 900;
    padding: 0;
    margin-bottom: 0;
  }

  div.projectContainer div#project1 h1.title {
    position: absolute;
    left: 13%;
    top: 5%;
    z-index: 950;
  }

  div.projectContainer div#project2 h1.title {
    position: absolute;
    left: 13%;
    top: 5%;
    z-index: 950;
  }

  div.projectContainer div#project3 h1.title {
    position: absolute;
    left: 13%;
    top: 5%;
    z-index: 950;
  }

  div.projectContainer div.container {
    position: relative;
    z-index: 950;
    display: block;
    margin-top: 20%;
    height: 90vh;
  }


  div.projectContainer p.languages {
    position: absolute;
    width: 80%;
    left: 13%;
    top: 15%;
    z-index: 950;
  }

  div.projectContainer p.description {
    position: absolute;
    width: 70%;
    left: 13%;
    top: 22%;
    z-index: 950;
    line-height: 1.5;
  }

  div.projectContainer div#project1 p.details {
    position: absolute;
    width: 70%;
    left: 13%;
    right: 13%;
    top: 35%;
    bottom: 30%;
    z-index: 950;
    line-height: 1.5;

  }

  div.projectContainer div#project2 p.details {
    position: absolute;
    width: 70%;
    left: 13%;
    right: 13%;
    top: 35%;
    bottom: 30%;
    z-index: 950;
    line-height: 1.5;

  }

  div.projectContainer div#project3 p.details {
    position: absolute;
    width: 70%;
    left: 13%;
    right: 13%;
    top: 30%;
    bottom: 30%;
    z-index: 950;
    line-height: 1.5;
  }

  div.projectContainer div.links {
    position: absolute;
    line-height: 0.5;
    width: 70%;
    left: 13%;
    bottom: 18%;
    z-index: 950;
  }

  div.projectContainer button {
    position: absolute;
    width: 70%;
    left: 13%;
    top: 85%;
    bottom: 5%;
    z-index: 950;
  }




}
