@import url('https://fonts.googleapis.com/css?family=Overpass');

.App {
  text-align: center;
  height: 100%;
  font-family: 'Overpass', sans-serif;
  letter-spacing: 1px;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
